/*Style*/
body {
    font-family: 'Playfair Display', serif;
}

.grayText {
    color: #999;
}

.customLink {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}
h1,h2,h3,h4,h5 {
    text-align: center;
}
/* Main header */
h1 {
    font-size: 3.5rem;
    margin-top: .5em;
}
@media (max-width: 375px) {
h1 {
        font-size: 2.5rem;
    }
}
h2{
    font-size: 2.5rem;
    margin-top: .5em;
}

a {
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}
a:hover {
    color: #395159;
    opacity: .8
}

/* Placeholder font */
.inputText::placeholder {
    font-family: 'Barlow Condensed', serif;
    font-size: 1.15rem;
    opacity: .8;
}

/* Input font */
input[type=text] {
    font-family: 'Barlow Condensed', serif;
    font-size: 1.15rem;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}


.pgContainer {
    min-height: 95vh;
    margin: 0 auto;
    padding: 3em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.margin-0-Auto {
    margin: 0 auto;
}
.partialPgContainer {
    margin: 0 auto;
    padding: 3em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
}
.pageContainer{
    min-height: 95vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.m-w-600 {
    max-width: 600px;
}
.m-w-900 {
    max-width: 900px;
}
.m-w-1200 {
    max-width: 1200px;
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.detailsImg {
    max-height: 250px;
}

.maxWidthCard{
    min-width: auto;
    max-width: 325px;
}

.contactButton {
    border-radius: 9999px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: .75rem;
}

.responsiveFs {
    font-size: large;
}

@media (max-width: 350px) {
    .responsiveFs {
        font-size: medium;
    }
}
.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.componentCard {
    width: 350px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    transition: 0.3s;
    border-radius: 10px;
    padding: 12px;
    margin: .5em;
}
.componentCard img{
    border-radius: 10px;
    padding: 4px;
    width: max(100%);
    height: max(17em);
    object-fit: cover;
    object-position: 50% 50%;
    margin: .5em 0;

}

@media (max-width: 320px) {
    .componentCard {
        width: 248px;
    }
}

.componentCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}