body {
    font-family: 'Playfair Display', serif;
}

.grayText {
    color: #999;
}

.customLink {
    color: black;
    text-decoration: none;
    font-size: 1.15rem;
}

.mb-1em {
    margin-bottom: 1em;
}

.mt-6em {
    margin-top: 6em;
}

h1 {
    font-size: 3.75rem;
    margin-top: .75em;
}

/* Placeholder font */
.inputText::placeholder {
    font-family: 'Barlow Condensed', serif;
    font-size: 1.15rem;
    opacity: .8;
}
